.main {
    background-color: aqua;
    padding: 2rem;
}
.main span {
    font-weight: bold;
}

.main h1 {
    text-align: center;
}

.main h2 {
    padding: 2rem;
}
.main ul {
    padding: 0 5rem;
}
.main p {
    padding: 1rem 3rem;
}

@media screen and (max-width: 600px) {
    .main {
        padding: 0rem;
    }
    .main h1 {
        padding: 2rem;
    }
    .main h2 {
        padding: 1rem;
    }
}